username: ''
api_key: ''
endpoint_url: ''
location: ''
domain: ''
ram: ''
cpu: ''
disk: ''
os: ''

hostname: ''
image_template_global_id: ''
image_template_id: ''
private_network_only: false
port_speed: 187
private_vlan: ''
public_vlan: ''
provision_scripts: []
ssh_keys: [156067]
ssh_key_filename: ~/.ssh/shared-systemt-tests-key.pem
agents_user: root
resources_prefix: ''
