[Unit]
Description=Cloudify REST Service
Wants=network-online.target
After=network-online.target

[Service]
PIDFile=/var/run/gunicorn.pid
TimeoutStartSec=0
Restart=on-failure
EnvironmentFile=-/etc/sysconfig/cloudify-restservice
ExecStart=/opt/manager/env/bin/gunicorn \
    -c {{ ctx.instance.runtime_properties.gunicorn_config_path }} \
     manager_rest.server:app 

[Install]
WantedBy=multi-user.target