public_ip: '10.10.1.10'
private_ip: '10.10.1.10'
ssh_user: 'vagrant'
ssh_key_filename: '~/repos/cloudify-manager-blueprints/singlehost/.vagrant/machines/centos7/virtualbox/private_key'

agents_user: vagrant
resources_prefix: ''


rest_client_source_url: https://dl.dropboxusercontent.com/u/407576/3.2/cloudify-rest-client-3.2.tar.gz
dsl_parser_source_url: https://dl.dropboxusercontent.com/u/407576/3.2/cloudify-dsl-parser-3.2.tar.gz
plugins_common_source_url: https://dl.dropboxusercontent.com/u/407576/3.2/cloudify-plugins-common-3.2.tar.gz
rest_service_source_url: https://dl.dropboxusercontent.com/u/407576/3.2/cloudify-manager-3.2.tar.gz
script_plugin_source_url: https://dl.dropboxusercontent.com/u/407576/3.2/cloudify-script-plugin-3.2.tar.gz
securest_source_url: https://dl.dropboxusercontent.com/u/407576/3.2/flask-securest-0.6.tar.gz
amqpinflux_source_url: https://dl.dropboxusercontent.com/u/407576/3.2/cloudify-amqp-influxdb-3.2.tar.gz

java_source_url: https://dl.dropboxusercontent.com/u/407576/3.2/java.rpm

centos7_agent_source_url: https://dl.dropboxusercontent.com/u/407576/3.2/centos-Core-agent.tar.gz

erlang_source_url: https://dl.dropboxusercontent.com/u/407576/3.2/erlang-17.4-1.el6.x86_64.rpm
rabbitmq_source_url: https://dl.dropboxusercontent.com/u/407576/3.2/rabbitmq-server-3.5.3-1.noarch.rpm

elasticsearch_source_url: https://dl.dropboxusercontent.com/u/407576/3.2/elasticsearch-1.6.0.noarch.rpm
# elasticsearch_port: ''
# elasticsearch_discovery_port:''
# elasticsearch_java_opts: ''

logstash_source_url: https://dl.dropboxusercontent.com/u/407576/3.2/logstash-1.5.0-1.noarch.rpm

influxdb_source_url: https://dl.dropboxusercontent.com/u/407576/3.2/influxdb-0.8.8-1.x86_64.rpm
# influxdb_port: ''

riemann_source_url: https://dl.dropboxusercontent.com/u/407576/3.2/riemann-0.2.6-1.noarch.rpm
langohr_source_url: https://dl.dropboxusercontent.com/u/407576/3.2/langohr.jar
daemonize_source_url: https://dl.dropboxusercontent.com/u/407576/3.2/daemonize-1.7.3-7.el7.x86_64.rpm

# rest_service_port: ''

nginx_source_url: https://dl.dropboxusercontent.com/u/407576/3.2/nginx-1.8.0-1.el7.ngx.x86_64.rpm
nodejs_source_url: https://dl.dropboxusercontent.com/u/407576/3.2/node-v0.10.35-linux-x64.tar.gz
webui_source_url: https://dl.dropboxusercontent.com/u/407576/3.2/cosmo-ui-3.2.0.tgz
grafana_source_url: https://dl.dropboxusercontent.com/u/407576/3.2/grafana-1.9.0.tgz