global_defs {
   notification_email {
     acassen@firewall.loc
     failover@firewall.loc
     sysadmin@firewall.loc
   }
   notification_email_from Alexandre.Cassen@firewall.loc
   smtp_server 192.168.200.1
   smtp_connect_timeout 30
   router_id LVS_DEVEL
}

vrrp_instance VI_1 {
        state {{ ctx.node.properties.keepalived_state }}
        interface {{ ctx.node.properties.keepalived_interface }}
        lvs_sync_daemon_interface {{ ctx.node.properties.keepalived_interface }}

        virtual_router_id 51
        priority {{ ctx.node.properties.keepalived_priority }}

        advert_int 1

        virtual_ipaddress {
                {{ ctx.node.properties.keepalived_floating_ip }} dev {{ ctx.node.properties.keepalived_interface }}
        }
}

