vcloud_username: '',
vcloud_password: '',
vcloud_url: '',
vcloud_service: '',
vcloud_vdc: '',
manager_server_name: '',
manager_server_catalog: '',
manager_server_template: '',
management_network_use_existing: true,
management_network_name: '',
edge_gateway: '',
floating_ip_public_ip: '',
manager_private_key_path: '~/.ssh/manager.pem',
agent_private_key_path: '~/.ssh/agent.pem',
manager_public_key: '',
agent_public_key: ''