keystone_username: ''
keystone_password: ''
keystone_tenant_name: ''
keystone_url: ''
region: ''
manager_public_key_name: ''
agent_public_key_name: ''
image_id: ''
flavor_id: ''
external_network_name: ''

use_existing_manager_keypair: false
use_existing_agent_keypair: false
manager_server_name: cloudify-manager-server
manager_server_user: ubuntu
manager_private_key_path: ~/.ssh/cloudify-manager-kp.pem
agent_private_key_path: ~/.ssh/cloudify-agent-kp.pem
agents_user: ubuntu
management_network_name: cloudify-management-network
management_subnet_name: cloudify-management-network-subnet
management_router: cloudify-management-router
manager_security_group_name: cloudify-sg-manager
agents_security_group_name: cloudify-sg-agents
manager_port_name: cloudify-manager-port
manager_volume_name: cloudify-manager-volume
nova_url: ''
neutron_url: ''
resources_prefix: ''
