-e git+https://github.com/cloudify-cosmo/cloudify-fabric-plugin@master#egg=cloudify-fabric-plugin==1.1a4
-e git+https://github.com/cloudify-cosmo/cloudify-openstack-plugin@master#egg=cloudify-openstack-plugin==1.1a4