{
    "cloudstack_api_url": "",
    "cloudstack_key": "",
    "cloudstack_secret": "",
    "zone": "",
    "manager_public_key_name": "",
    "agent_public_key_name": "",
    "image_id": "",
    "service_offering": "",
    'network_offering": ""'
}