[Unit]
Description=Cloudify Manager IP Setter
Before=cloudify-amqpinflux.service cloudify-influxdb.service cloudify-mgmtworker.service cloudify-restservice.service cloudify-riemann.service cloudify-stage.service nginx.service cloudify-rabbitmq.service

[Service]
TimeoutStartSec=0
User={{ ctx.instance.runtime_properties.service_user }}
Group={{ ctx.instance.runtime_properties.service_group }}
EnvironmentFile=-/etc/sysconfig/cloudify-restservice
ExecStart=/bin/sudo /opt/cloudify/manager-ip-setter/manager-ip-setter.sh

[Install]
WantedBy=default.target
